<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mongoose Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>

<body>
        <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <h1>Message Board</h1>
                        <form action="/message" method="post">
                            <div class="form-group">
                                <label>Your name:</label>
                                <input class="form-control" type="text" name="name">
                            </div>
                            <div class="form-group">
                                <label>Message:</label>
                                <textarea class="form-control" rows="3" name="message"></textarea>
                            </div>
                            <div>
                                    <input class="btn btn-primary" type="submit" value="Post message">
                            </div>
                        </form>
                    </div>
                </div>
                <br>
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <% for (let message of messages) { %>
                            <div class="row">
                                <div class="col-md-12">
                                    <h4>Name: <%= message.name %></h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <p>Message:</p>
                                </div>
                                <div class="col-md-10">
                                    <p><%= message.message %></p>
                                </div>
                            </div>
                            <% for (let comment of message.comments) { %>
                                <div class="row">
                                    <div class="col-md-12">
                                        <h6>Name: <%= comment.name %></h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2 offset-md-1">
                                        <p>Comment:</p>
                                    </div>
                                    <div class="col-md-9">
                                        <p><%= comment.comment %></p>
                                    </div>
                                </div>
                            <% } %>
                            <div class="row">
                                <div class="col offset-2">
                                    <form action="/comment/<%= message._id %>" method="POST">
                                        <div class="form-group">
                                            <label>Your name:</label>
                                            <input class="form-control" type="text" name="name">
                                        </div>
                                        <div class="form-group">
                                            <label>Comment:</label>
                                            <textarea class="form-control" name="comment" rows="3"></textarea>
                                        </div>
                                        <div class="form-group offset-10">
                                                <input class="btn btn-primary" type="submit" value="Post comment">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>
</body>
</html>